{
    "extends": [
        "prettier-standard",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": [
        "babel",
        "react"
    ],
    "settings": {
        "react": {
            "pragma": "React"
        }
    },
    "rules": {
        "eqeqeq": [
            "error",
            "smart"
        ],
        "react/jsx-uses-vars": "error"
    }
}